<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <footer th:fragment="header">
        <div class="layui-header">
            <a href="/userIndex" style="font-size: x-large; color: #009688;line-height: 60px;text-decoration:none;"> 图 书 管 理 系 统</a>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/images/user_image.jpg" class="layui-nav-img">
                        <span th:text="${session.user.getUserName()}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBasicInfoPage">基本资料</a></dd>
                        <dd><a href="/userSecuritySettingsPage">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/userReservationsPage" style="position:relative;">
                        <i class="layui-icon layui-icon-notice" style="font-size:18px;"></i>
                        <span id="notifyBadge" style="display:none;position:absolute;top:2px;right:-8px;background:#FF5722;color:#fff;font-size:10px;padding:1px 6px;border-radius:10px;line-height:1.4;">0</span>
                    </a>
                </li>
                <li class="layui-nav-item"><a href="/userLogOut">退出登录</a></li>
            </ul>
        </div>

        <script>
            $(function() {
                $.get('/getNotificationCount', function(count) {
                    if (count > 0) {
                        $('#notifyBadge').text(count).show();
                    }
                });
            });
        </script>

    </footer>
</head>
</html>
