<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统 - 登录</title>


    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>

        body {
            background: url("/images/background.png") no-repeat;
            background-size: cover;
        }

        #login_form {
            width: 400px;
            height: 420px;
            margin: 80px auto;
            padding: 30px;
            background-color: #f2f2f2;
            opacity: 0.9;
        }

    </style>
</head>
<body>

<div id="wrapper">
    <div class="layui-container" id="login_form">

        <div>
            <h1 style="color: red">图书管理系统</h1>
            <br>
            <h2>用户登录</h2>
            <br>
        </div>

        <form class="layui-form" id="my_form" method="post" action="/userLogin">

            <div class="layui-form-item">
                <label class="layui-form-label" id="loginLabel">用户ID:</label>
                <div class="layui-input-block">
                    <input type="text" name="userId" id="username" autofocus
                           placeholder="请输入用户ID" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密 码:</label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="password"
                           placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">用户身份</label>
                <div class="layui-input-block">
                    <input class="form-check-input" type="radio" name="role" value="1" title="学生" checked>
                    <input class="form-check-input" type="radio" name="role" value="0" title="管理员">
                </div>
            </div>

            <div class="layui-form-item layui-col-md4 layui-col-md-offset4">
                <button id="sub_btn" class="layui-btn layui-btn-normal">登录</button>
            </div>

        </form>

    </div>
</div>


<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>


<script th:inline="javascript">
    layui.use(['jquery', 'layer', 'form'], function () {
        var $ = layui.$;
        let layer = layui.layer;
        let form = layui.form;
        form.render();

        // 初始化错误提示
        $(function () {
            let flag = [[${session.flag}]];
            if (flag) {
                layer.msg("用户ID或密码错误", {
                    icon: 2,
                    time: 2000
                });
            }
        });

        // 角色切换时动态修改输入框的 name 和 placeholder
        form.on('radio', function (data) {
            var role = data.value;
            if (role == 1) {
                // 学生：使用用户ID登录
                $("#loginLabel").text("用户ID:");
                $("#username").attr("name", "userId");
                $("#username").attr("placeholder", "请输入用户ID");
            } else {
                // 管理员：使用用户名登录
                $("#loginLabel").text("用户名:");
                $("#username").attr("name", "userName");
                $("#username").attr("placeholder", "请输入用户名");
            }
        });

        // 登录按钮点击事件
        $("#sub_btn").click(function () {
            let username = $("#username").val();
            let user_judge = check(username);

            if (user_judge) {
                // 检查是否包含中文字符
                if (hasChinese(username)) {
                    var labelText = $("#loginLabel").text().replace(":", "");
                    layer.alert(labelText + "包含非法字符", {icon: 5});
                    return false;
                }

                // 学生登录时，检查用户ID是否为纯数字
                let role_id = $('input[name="role"]:checked').val();
                if (role_id == 1 && !isNumeric(username)) {
                    layer.alert("用户ID必须为纯数字", {icon: 5});
                    return false;
                }

                let password = $("#password").val();
                let pwd_judge = check(password);

                if (pwd_judge) {
                    if (role_id == 1) {
                        // 学生登录 → /userLogin
                        $("#my_form").attr("action", "/userLogin");
                        $("#my_form").submit();
                    } else {
                        // 管理员登录 → /adminLogin
                        $("#my_form").attr("action", "/adminLogin");
                        $("#my_form").submit();
                    }
                } else {
                    layer.alert("密码不能为空", {icon: 5});
                    return false;
                }
            } else {
                var labelText = $("#loginLabel").text().replace(":", "");
                layer.alert(labelText + "不能为空", {icon: 5});
                return false;
            }
        });

        function check(val) {
            val = val.toString().trim();
            return !(val == '');
        }

        // 检查是否包含中文字符
        function hasChinese(str) {
            var reg = /[一-龥]/;
            return reg.test(str);
        }

        // 检查是否为纯数字
        function isNumeric(str) {
            var reg = /^\d+$/;
            return reg.test(str);
        }
    });
</script>
</body>
</html>
